body
{
    background-color: azure;
/*    background-image: url(DSC_0809.JPG)*/
        font-family: sans-serif;
    
}

h1
{
    color: black;
    text-align: center;
}

li a
{
    text-align: center;
}